<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{{title}} 中国金融期货交易所</title>
	<link rel="stylesheet" type="text/css" href="../static/css/reset.css">
	<link rel="stylesheet" type="text/css" href="../static/css/main.css">
	<script type="text/javascript" src="../static/js/jquery-1.12.4.min.js"></script>
	{%block head%}{%endblock head%}
</head>
<body>
	{%block body%}{%endblock body%}

	<div class="footer no-mp">
		<div class="foot_link">
			<a href="#">关于我们</a>
			<span>|</span>
			<a href="#">联系我们</a>
			<span>|</span>
			<a href="#">招聘人才</a>
			<span>|</span>
			<a href="#">友情链接</a>
		</div>
		<p>中国金融期货交易所2011版权所有 沪ICP备11042625号</p>
		<p>电话：010-****888</p>
	</div>

</body>
</html>