body{
    background-color:deepskyblue;
}

.box01{
    width: 200px;
    height:200px;
    background-color:orchid;
    float:left;
    margin:20px;

}
.box02{
    width: 200px;
    height:200px;
    background-color:red;
    float:left;
    margin:20px;

}
