body{
    background-color:#ddd;
}

.box01{
    width: 200px;
    height:200px;
    background-color:deepskyblue;
    float:left;
    margin:20px;

}
.box02{
    width: 200px;
    height:200px;
    background-color:deeppink;
    float:left;
    margin:20px;

}